*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Work Sans", system-ui;
}

/*DIVs FLEX*/
.home, .container-imagens, .frases, .solicita-botao, .redes, .sobre, .container-sobre, .logo-sobre, .diferencias, .container-diferenciais, .container-produtos,.gases-one, .gases-two, .gases-three, .gases-four, .gases-five, .gases-six, .gases-seven, .gases-eight, .titulo-produtos, .botoes, .ver-mais, .ver-menos,.container-produtos-invisivel, .servicos, .container-servicos, .tipo-servico, .perguntas, .container-perguntas, .fale-conosco, .container-contato, .contato, .form-map, .formulario, .parceiros, .empresa, .feedbacks, .feedback-1, .feedback-2, .feedback-3, .feedback-4, .feedback-5, .section-ns,.trocas, footer, .container-footer, .logo-pagina, .contato-numero, .redes-socias, .sociais, .desenvolvedora{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home{
    height: 100vh;
    width:100%;
    flex-direction: column;
    background-color:rgb(170, 203, 99);
}
.logo{
    height: 250px;
    opacity: 0;
}
.gases{
    transform: translateX(-200px);
    opacity: 0;
}
.frases{
    flex-direction: column;
    opacity: 0;
    transform: translateY(200px);
    text-align: center;
}
.frases h1{
    font-size: 40px;
    color:rgb(208, 208, 198);
}
.frases span{
    border-bottom:2px solid rgb(170, 203, 99);
}
.solicita-botao{
    width: 470px;
    text-decoration: none;
    color: rgb(1, 110, 89);
    font-size: 25px;
    padding: 10px 0px;
    border-radius: 20px;
    margin-top: 60px;
    gap: 5px;
    transition: all 0.5s ease-in-out;
    background-image: linear-gradient(to left,rgb(52, 217, 87),rgb(52, 217, 87), white, rgb(52, 217, 87), rgb(52, 217, 87));
    background-size: 300% 100%;
    animation: degrade 10s infinite alternate;
}
.solicita-botao img{
    height: 40px;
}
.solicita-botao:hover{
    color: white;
}
.redes{
    position: relative;
    flex-direction: column;
    float: right;
    gap: 10px;
    height: 120px;
    bottom: 30px;
}
.redes img{
    height: 50px;
}
.redes img:hover{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
}


main{
    width: 100%;
    height: 100%;
}

/*SOBRE A EMPRESA*/
.sobre{
    padding: 50px 0px;
    height: 100%;
    width: 100%;
    content:"";
    background-image: url(../imagens/empresarial-img.png);
    background-position: center;
    background-size: cover;
    flex-direction: column;
    gap: 200px 0px;
}
.container-sobre{
    justify-content: space-around;
    width: 100%;
    margin-top: 200px;
}
.logo-sobre{
    flex-direction: column;
}
.logo-sobre h1{
    font-size: 45px;
    color: white;
}
.two-bar{
    height: 8px;
    width: 150px;
    border-radius: 20px;
    background-color: rgb(1, 110, 89);
    position: relative;
}
.logo-sobre img{
    height: 300px;
    border-radius: 50%;
    margin-top: 100px;
}
.texto-sobre{
    letter-spacing:2px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 500;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.171);
    backdrop-filter: blur(10px);
    padding:15px;
    border-radius: 30px;
}
.entrar-botao{
    font-size: 20px;
    text-decoration: none;
    background-image: linear-gradient(to left,rgb(170, 203, 99),rgb(170, 203, 99), white, rgb(170, 203, 99), rgb(170, 203, 99));
    background-size: 300% 100%;
    animation: degrade 5s infinite alternate;
    color: white;
    padding: 20px;
    border-radius: 40px;
    transition: all 0.5s ease-in-out;
}
.entrar-botao:hover{
    color:rgb(1, 110, 89);
}


/*DIFERENCIAS*/
.diferencias{
    height: 500px;
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.diferencias h1{
    font-size: 40px;
    color: rgb(1, 110, 89);
}
.three-bar{
    height: 8px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(1, 110, 89);
    position: relative;
}
.container-diferenciais{
    gap: 150px;
}
.diferenca{
    animation: entrada 1ms ease-in-out;
    animation-timeline: view();
    animation-range:cover 0% 20%;
    height: 230px;
    width: 250px;
    background-color: rgb(154, 209, 170);
    border-radius: 30px;
    margin-top: 100px;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}
.diferenca img{
    height: 120px;
    position: relative;
    bottom: 60px;
}
.diferenca p{
    position: relative;
    bottom: 40px;
}


/*PRODUTOS*/
.produtos{
    padding: 50px 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(1, 110, 89);
}
.produtos:hover .section-logo img{
    opacity: 0.3;
}
.produtos h1, .four-bar{
    font-size: 40px;
    margin-top: 50px;
    margin-left: 100px;
    color: rgb(255, 255, 255);
}
.four-bar{
    height: 8px;
    width: 450px;
    border-radius: 20px;
    background-color: rgb(170, 203, 99);
    margin-top: 10px;
    margin-left: 120px;
}
.section-logo{
    position: absolute;
    right: 100px;
    margin-top: 25px;
}
.section-logo img{
    height: 100px;
    transition: all 1s;
}
.container-produtos{
    margin-top: 200px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.gases-one, .gases-two, .gases-three, .gases-four, .gases-five, .gases-six, .gases-seven, .gases-eight{
    color: white;
    text-align: center;
    height:350px;
    width: 350px;
    content: '';
    background-image: url(../imagens/produtos/bebida.jpeg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: initial;
    border-radius: 5px;
}
.gases-two{
    background-image: url(../imagens/produtos/machines.jpeg);
}
.gases-three{
    background-image: url(../imagens/produtos/combustivel.jpeg);
}
.gases-four{
    background-image: url(../imagens/produtos/plastico.jpeg);
}
.gases-five{
    background-image: url(../imagens/produtos/dentista.jpeg);
}
.gases-six{
    background-image: url(../imagens/produtos/pneu.jpeg);
}
.gases-seven{
    background-image: url(../imagens/produtos/soldagem.jpeg);
}
.gases-eight{
    background-image: url(../imagens/produtos/water.jpeg);
}
.titulo-produtos{
    font-size: 25px;
    height: 45px;
    width: 200px;
    background-color: rgb(1, 110, 89);
    border-radius: 15px;
    font-weight: 700;
    position: relative;
    bottom: 20px;
    border: 2px solid;
    border-color: white transparent transparent white;
    transition: all 1s ease;
}
.especificacao{
    padding:0px 5px;
    margin-top: 10px;
}
.gases-one img, .gases-two img, .gases-three img, .gases-four img, .gases-five img, .gases-six img, .gases-seven img, .gases-eight img{
    height: 150px;
}
.botoes{
    width: 100%;
    margin: 100px 0px;
}
.ver-mais, .ver-menos{
    color: white;
    font-size: 20px;
    gap: 5px;
    padding: 11px 30px;
    background-color:rgb(1, 110, 89);
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid white;
}
.ver-mais:hover, .ver-menos:hover{
    background-color:rgb(4, 134, 108);
}
.ver-menos{
    position: absolute;
    opacity: 0;
    z-index: -1;
    transition: all 1s ease-in-out;
}
.container-produtos-invisivel{
    display: none;
    justify-content: space-around;
    gap: 150px 200px;
    flex-wrap: wrap;
}


/*SERVIÇOS*/
.servicos{
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 100px 0px 50px 0px;
}
.servicos h1{
    font-size: 40px;
    color: rgb(34, 34, 32);
}
.servicos small{
    color: rgb(126, 217, 86);
    font-size: 25px;
    font-weight: 600;
    margin: 20px 10px 0px 10px;
    text-align: center;
}
.container-servicos{
    margin-top: 150px;
    gap: 100px;
    animation: entrada 1ms ease-in-out;
    animation-timeline: view();
    animation-range:cover 0% 25%;
}
.tipo-servico{
    justify-content: initial;
    height: 300px;
    width: 320px;
    background-color: rgba(71, 171, 99, 0.904);
    flex-direction: column;
    text-align: center;
    border-radius: 30px;
}
.tipo-servico img, .tipo-servico h2, .tipo-servico p{
    height: 110px;
    position: relative;
    bottom: 70px;
}
.tipo-servico h2{
    font-size: 20px;
    color: white;
    text-decoration: underline;
    bottom: 50px;
}
.tipo-servico p{
    font-size: 17px;
    bottom: 60px;
    padding: 0px 10px;
}
.saiba-botao{
    margin-top: 100px;
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    background-color: rgb(126, 217, 86);
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
    background-image: linear-gradient(to left,rgb(170, 203, 99),rgb(170, 203, 99), white, rgb(170, 203, 99), rgb(170, 203, 99));
    background-size: 300% 100%;
    animation: degrade 5s infinite alternate;
}
.saiba-botao:hover{
    color: rgb(71, 171, 99);
}


/*PERGUNTAS E RESPOSTAS*/
.perguntas{
    height: 100%;
    width: 100%;
    background-color: rgba(1, 110, 88);
    flex-direction: column;
    padding: 100px 0px;
    text-align: center;
    color: white;
}
.perguntas:hover .section-logo-pr img{
    opacity: 0.3;
}
.section-logo-pr{
    position: absolute;
    right: 45px;
    margin-bottom: 550px;
}
.section-logo-pr img{
    height: 80px;
    transition: all 1s;
}
.perguntas h1{
    font-size: 40px;
}
.container-perguntas{
    gap: 150px;
    margin-top: 100px;
    text-align: center;
}
.pergunta-resposta{
    height: 350px;
    width: 300px;
}
.perguntas h3{
    font-size: 22px;
    cursor: pointer;
}
.perguntas h3:hover{
    color: rgb(197, 199, 202);
}
.perguntas p{
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    backdrop-filter: blur(5px);
}
hr{
    border: 1px solid rgb(71, 171, 99);
}


/*FALE-CONOSCO*/
.fale-conosco{
    padding: 100px 0px;
    height: 100%;
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.fale-conosco h1{
    font-size: 40px;
    color: rgb(34, 34, 32);
}
.fale-conosco p{
    font-size: 25px;
    color: rgb(34, 34, 32);
    font-weight: 500;
}
.container-contato{
    margin-top: 100px;
    gap: 100px;
    animation: entrada 1ms ease-in-out;
    animation-timeline: view();
    animation-range:cover 0% 20%;
}
.contato{
    height: 200px;
    width: 300px;
    background-color: rgb(1, 110, 89);
    border-radius: 20px;
    flex-direction: column;
    gap: 20px;
    color: white;
    text-decoration: none;
}
.contato:hover{
    border: 2px solid rgb(255, 255, 255);
}
.contato img{
    height: 60px;
}
.contato h4{
    font-size: 20px;
    color: rgb(34, 34, 32);
}
.contato p{
    font-weight: 300;
    color: white;
    font-size: 19px;
    padding: 5px 10px;
    border-radius: 5px;
}
.form-map{
    margin-top: 50px;
    gap: 100px;
}
iframe{
    height: 500px;
    width: 550px;
    border-radius: 20px;
}
.formulario{
    flex-direction: column;
    gap: 40px;
    height: 500px;
    width: 450px;
    background-color: rgba(170, 203, 99, 0.432);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
.formulario h5{
    font-size: 20px;
    color: rgb(34, 34, 32);
}
.formulario input, .formulario textarea{
    outline: none;
    border: none;
}
.nome, .numero, .email{
    height: 35px;
    width: 350px;
    padding: 0px 0px 0px 10px;
    font-size: 16px;
    background-color:rgba(255, 255, 255, 0.596);
    border-radius: 5px;
}
textarea{
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    resize: none;
    height: 100px;
    width: 350px;
    background-color:rgba(255, 255, 255, 0.596);
}
.form-botao{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(1, 110, 89);
    color: white;
    cursor: pointer;
}
.form-botao:hover{
    color: rgb(0, 0, 0);
}


/*PARCEIROS*/
.parceiros{
    height: 100%;
    width: 100%;
    padding: 20px 0px;
    background-color:rgb(1, 110, 89);
    flex-direction: column;
    text-align: center;
}
.parceiros h1{
    font-size: 45px;
    color: rgb(255, 255, 255);
}
.empresa{
    margin-top: 50px;
    width: 1000px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
}
marquee{
    display: inline-flex;
    justify-content: center;
}
marquee img{
    height: 140px;
    width: 140px;
    margin: 0px 10px;
}
.alok{
    width: 300px;
}
.minalba{ 
    width:230px;
}


/*FEEDBACKS*/
.feedbacks{
    flex-direction: column;
    padding: 100px 0px;
    text-align: center;
}
.feedbacks h1{
    color: rgb(1, 110, 89);
    font-size: 40px;
}
.feedback-1, .feedback-2, .feedback-3, .feedback-4, .feedback-5{
    margin-top: 50px;
    height: 100%;
    text-align: center;
    gap: 50px;
}
.feedback-2, .feedback-3, .feedback-4, .feedback-5{
    display: none;
}
.feed{
    border-radius: 20px;
    padding: 10px 50px;
    background-image: linear-gradient(to top right, rgba(122, 121, 121, 0.171), rgba(240, 248, 255, 0.082));
    backdrop-filter: blur(5px);
    width: 550px;
}
.foto{
    height: 100px;
    border-radius: 50%;
}
.aspas-1, .aspas-2{
    font-size: 45px;
    color:rgb(1, 110, 89);
    position: relative;
}
.aspas-1{
    right: 210px;
    top: 35px;
}
.aspas-2{
    left: 200px;
}
.feed-text{
    font-size: 20px;
    font-family: 'Outfit';
}
.section-ns{
    width: 100%;
    justify-content: space-between;
}
.feed-title{
    color: rgb(34, 34, 32);
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.estrela{
    filter: drop-shadow(3px 3px 5px rgb(255, 217, 0));
}
.trocas{
    margin-top: 50px;
    gap: 15px;
    background-color: rgb(1, 110, 89);
    padding:10px 50px;
    border-radius: 0px 50px;
}
.bt1{
    background-color:rgb(170, 203, 99);
}
.bt1, .bt2, .bt3, .bt4, .bt5{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.bt2, .bt3, .bt4, .bt5{
    background-color: rgb(208, 208, 198);
}
.bt1:hover, .bt2:hover, .bt3:hover, .bt4:hover, .bt5:hover{
    border: 1px solid rgb(1, 110, 89);
}


/*RODAPÉ*/
footer{
    height: 300px;
    width: 100%;
    background-color:rgb(34, 34, 32);
    flex-direction: column;
    color: white;
}
.container-footer{
    padding: 0px 100px;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}
.logo-final img{
    height: 80px;
    border-radius: 20px;
}
.logo-final strong{
    font-size: 17px;
}
.logo-final p{
    font-size: 14px;
}
.logo-final-contato h2{
    font-size: 20px;
}
.contato-numero{
    gap: 5px;
    margin: 10px 0px;
    text-decoration: none;
    color: white;
}
.contato-numero img{
    height: 30px;
}
.logo-pagina{
    flex-direction: column;
}
.logo-pagina a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    flex-direction: column;
}
.logo-pagina a:hover{
    color:rgb(1, 110, 89) ;
}
.redes-sociais{
    flex-direction: column;
}
.redes-sociais h2{
    font-size: 20px;
}
.sociais{
    gap: 20px;
    margin-top: 10px;
}
.sociais img{
    height: 40px;
}
.sociais a{
    text-decoration: none;
}
.sociais img:hover{
    border-radius: 50%;
    border: 1px solid white;
}
.desenvolvedora{
    margin-top: 40px;
    color: rgba(255, 166, 0, 0.842);
    gap: 10px;
}
.desenvolvedora img{
    height: 30px;
}


/*ANIMAÇÕES*/
@keyframes degrade {
    0%{
        background-position-x:0%;
    }
    100%{
        background-position-x:100%;
    }
}
@keyframes entrada{
    from{
        opacity: 0;
        translate: 0 100vw;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}
