*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Montserrat';
}

/*DIVs FLEX*/
.solicita-botao, .redes, .sobre, .container-sobre, .logo-sobre, .diferencias, .container-diferenciais, .container-produtos,.gases-one, .gases-two, .gases-three, .gases-four, .gases-five, .gases-six, .gases-seven, .gases-eight, .titulo-produtos, .botoes, .ver-mais, .ver-menos,.container-produtos-invisivel, .servicos, .container-servicos, .tipo-servico, .perguntas, .container-perguntas, .fale-conosco, .container-contato, .contato, .form-map, .formulario, .parceiros, .empresa, footer, .container-footer, .logo-pagina, .contato-numero, .redes-socias, .sociais, .desenvolvedora{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    height: 100vh;
    width:100%;
    content: '';
    background-image: url(../imagens/img-background.png);
    background-position: center;
    background-size: cover;
}
.container-inicial{
    position:absolute;
    left: 100px;
    top: 100px;
    width: 90%;
}
#imagem{
    height: 150px;
    opacity: 0;
    transition: all 1s;
}
#frases{
    position: relative;
    left: -50px;
    opacity: 0;
}
#frases h1{
    font-size: 45px;
    color: rgb(35, 110, 63);
}
#frases h2{
    font-size: 40px;
    color: rgb(217, 40, 39);
}
.one-bar{
    height: 8px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(35, 110, 63);
    position: relative;
    left: 30px;
}
.solicita-botao{
    width: 470px;
    text-decoration: none;
    color: rgb(35, 110, 63);
    font-size: 25px;
    padding: 10px 0px;
    border-radius: 20px;
    margin-top: 60px;
    gap: 5px;
    transition: all 0.5s ease-in-out;
    background-image: linear-gradient(to left,rgb(124, 217, 94),rgb(124, 217, 94), white, rgb(124, 217, 94), rgb(124, 217, 94));
    background-size: 300% 100%;
    animation: degrade 10s infinite alternate;
}
.solicita-botao img{
    height: 40px;
}
.solicita-botao:hover{
    color: white;
}
.redes{
    position: relative;
    flex-direction: column;
    float: right;
    gap: 10px;
    height: 120px;
    bottom: 30px;
}
.redes img{
    height: 50px;
}
.redes img:hover{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
}


/**/
main{
    width: 100%;
    height: 100%;
}

/*SOBRE A EMPRESA*/
.sobre{
    height: 100vh;
    width: 100%;
    content:"";
    background-image: url(../imagens/empresarial-img.png);
    background-position: center;
    background-size: cover;
    flex-direction: column;
    gap: 200px 0px;
}
.container-sobre{
    justify-content: space-around;
    width: 100%;
    margin-top: 200px;
}
.logo-sobre{
    flex-direction: column;
}
.logo-sobre h1{
    font-size: 50px;
    color: white;
}
.two-bar{
    height: 8px;
    width: 150px;
    border-radius: 20px;
    background-color: rgb(72, 171, 100);
    position: relative;
}
.logo-sobre img{
    width: 400px;
    border-radius: 100px;
    margin-top: 100px;
    border:1px solid white;
}
.texto-sobre{
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 500;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.171);
    backdrop-filter: blur(10px);
    padding:15px;
    border-radius: 30px;
}
.entrar-botao{
    font-size: 20px;
    text-decoration: none;
    background-image: linear-gradient(to left,rgb(127, 216, 88),rgb(127, 216, 88), white, rgb(127, 216, 88), rgb(127, 216, 88));
    background-size: 300% 100%;
    animation: degrade 5s infinite alternate;
    color: white;
    padding: 20px;
    border-radius: 40px;
    transition: all 0.5s ease-in-out;
}
.entrar-botao:hover{
    color:rgb(35, 110, 63);
}


/*DIFERENCIAS*/
.diferencias{
    height: 500px;
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.diferencias h1{
    font-size: 40px;
    color: rgb(35, 110, 63);
}
.three-bar{
    height: 8px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(72, 171, 100);
    position: relative;
}
.container-diferenciais{
    gap: 150px;
}
.diferenca{
    animation: entrada 1ms ease-in-out;
    animation-timeline: view();
    animation-range:cover 0% 20%;
    height: 230px;
    width: 250px;
    background-color: rgb(154, 209, 170);
    border-radius: 30px;
    margin-top: 100px;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}
.diferenca img{
    height: 120px;
    position: relative;
    bottom: 60px;
}
.diferenca p{
    position: relative;
    bottom: 40px;
}


/*PRODUTOS*/
.produtos{
    padding: 50px 0px;
    height: 100%;
    width: 100%;
    content: "";
    background-image: url(../imagens/gradiente-verde.png);
    background-position: center;
}
.produtos h1, .four-bar{
    font-size: 40px;
    margin-top: 50px;
    margin-left: 100px;
    color: rgb(34, 32, 69);
}
.four-bar{
    height: 8px;
    width: 450px;
    border-radius: 20px;
    background-color: rgb(72, 171, 100);
    margin-top: 10px;
    margin-left: 120px;
}
.container-produtos{
    margin-top: 200px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.gases-one, .gases-two, .gases-three, .gases-four, .gases-five, .gases-six, .gases-seven, .gases-eight{
    color: white;
    text-align: center;
    height:350px;
    width: 350px;
    content: '';
    background-image: url(../imagens/produtos/bebida.img.png);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: initial;
    border-radius: 5px;
}
.gases-two{
    background-image: url(../imagens/produtos/machines.png);
}
.gases-three{
    background-image: url(../imagens/produtos/fuel.png);
}
.gases-four{
    background-image: url(../imagens/produtos/gas-plastic.png);
}
.gases-five{
    background-image: url(../imagens/produtos/destista.img.png);
}
.gases-six{
    background-image: url(../imagens/produtos/gas-pneu.png);
}
.gases-seven{
    background-image: url(../imagens/produtos/soldagem.img.png);
}
.gases-eight{
    background-image: url(../imagens/produtos/water.png);
}
.titulo-produtos{
    font-size: 25px;
    height: 45px;
    width: 200px;
    background-color: rgb(86, 176, 112);
    border-radius: 15px;
    font-weight: 700;
    position: relative;
    bottom: 20px;
    border: 2px solid;
    border-color: white transparent transparent white;
    transition: all 1s ease;
}
.especificacao{
    padding:0px 5px;
    margin-top: 10px;
}
.gases-one img, .gases-two img, .gases-three img, .gases-four img, .gases-five img, .gases-six img, .gases-seven img, .gases-eight img{
    height: 150px;
}
.botoes{
    width: 100%;
    margin: 100px 0px;
}
.ver-mais, .ver-menos{
    color: white;
    font-size: 20px;
    gap: 5px;
    padding: 11px 30px;
    background-color:rgb(35, 110, 63);
    border-radius: 20px;
    cursor: pointer;
}
.ver-menos{
    position: absolute;
    opacity: 0;
    z-index: -1;
    transition: all 1s ease-in-out;
}
.container-produtos-invisivel{
    display: none;
    gap: 150px 250px;
    flex-wrap: wrap;
}


/*SERVIÇOS*/
.servicos{
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 100px 0px 50px 0px;
}
.servicos h1{
    font-size: 40px;
    color: rgb(34, 32, 69);
}
.servicos small{
    color: rgb(126, 217, 86);
    font-size: 25px;
    font-weight: 600;
    margin: 20px 10px 0px 10px;
    text-align: center;
}
.container-servicos{
    margin-top: 150px;
    gap: 100px;
    animation: entrada 1ms ease-in-out;
    animation-timeline: view();
    animation-range:cover 0% 25%;
}
.tipo-servico{
    justify-content: initial;
    height: 300px;
    width: 320px;
    background-color: rgb(71, 171, 99);
    flex-direction: column;
    text-align: center;
    border-radius: 30px;
}
.tipo-servico img, .tipo-servico h2, .tipo-servico p{
    height: 110px;
    position: relative;
    bottom: 70px;
}
.tipo-servico h2{
    font-size: 20px;
    color: white;
    text-decoration: underline;
    bottom: 50px;
}
.tipo-servico p{
    font-size: 17px;
    bottom: 60px;
    padding: 0px 10px;
}
.saiba-botao{
    margin-top: 100px;
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    background-color: rgb(126, 217, 86);
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
    background-image: linear-gradient(to left,rgb(126, 217, 86),rgb(126, 217, 86), white, rgb(126, 217, 86), rgb(126, 217, 86));
    background-size: 300% 100%;
    animation: degrade 5s infinite alternate;
}
.saiba-botao:hover{
    color: rgb(71, 171, 99);
}


/*PERGUNTAS E RESPOSTAS*/
.perguntas{
    height: 100%;
    width: 100%;
    content: '';
    background-image: url(../imagens/back-mmr-invisivel.png);
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    flex-direction: column;
    padding: 100px 0px;
    text-align: center;
}
.perguntas h1{
    font-size: 40px;
    color: rgb(34, 32, 69);
}
.container-perguntas{
    gap: 150px;
    margin-top: 100px;
    text-align: center;
}
.pergunta-resposta{
    height: 350px;
    width: 300px;
}
.perguntas h3{
    font-size: 22px;
    color: rgb(34, 32, 69);
}
.perguntas p{
    font-size: 20px;
    margin-top: 20px;
}
hr{
    border: 1px solid rgb(71, 171, 99);
}


/*FALE-CONOSCO*/
.fale-conosco{
    padding: 100px 0px;
    height: 100%;
    width: 100%;
    content: '';
    background-image: url(../imagens/back-mmr-invisivel.png);
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    flex-direction: column;
    text-align: center;
}
.fale-conosco h1{
    font-size: 40px;
    color: rgb(34, 32, 69);
}
.fale-conosco p{
    font-size: 25px;
    color: rgb(34, 32, 69);
    font-weight: 500;
}
.container-contato{
    margin-top: 100px;
    gap: 100px;
    animation: entrada 1ms ease-in-out;
    animation-timeline: view();
    animation-range:cover 0% 20%;
}
.contato{
    height: 200px;
    width: 300px;
    background-color: rgb(154, 209, 170);
    border-radius: 20px;
    flex-direction: column;
    gap: 20px;
    color: white;
    text-decoration: none;
}
.contato:hover{
    border: 2px solid rgb(255, 255, 255);
}
.contato img{
    height: 60px;
}
.contato h4{
    font-size: 20px;
    color: rgb(34, 32, 69);
}
.contato p{
    font-weight: 300;
    color: white;
    font-size: 19px;
    padding: 5px 10px;
    background-color: rgb(71, 172, 96);
    border-radius: 5px;
}
.form-map{
    margin-top: 50px;
    gap: 100px;
}
iframe{
    height: 400px;
    width: 450px;
    border-radius: 20px;
}
.formulario{
    flex-direction: column;
    gap: 40px;
    height: 350px;
    width: 350px;
    background-color: rgba(187, 241, 203, 0.719);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
.formulario h5{
    font-size: 20px;
    color: rgb(34, 32, 69);
}
.formulario input, .formulario textarea{
    outline: none;
    border: none;
}
.nome{
    height: 35px;
    width: 300px;
    padding: 0px 0px 0px 10px;
    font-size: 16px;
    background-color:rgba(255, 255, 255, 0.596);
    border-radius: 5px;
}
textarea{
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    resize: none;
    height: 100px;
    width: 300px;
    background-color:rgba(255, 255, 255, 0.596);
}
.form-botao{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(71, 172, 96);
    color: white;
    cursor: pointer;
}
.form-botao:hover{
    color: rgba(187, 241, 203, 0.719);
    padding: 11px 21px;
}


/*PARCEIROS*/
.parceiros{
    height: 100%;
    width: 100%;
    padding: 20px 0px;
    background-color:rgb(71, 171, 99);
    flex-direction: column;
    text-align: center;
}
.parceiros h1{
    font-size: 45px;
    color: rgb(34, 32, 69);
}
.empresa{
    margin-top: 50px;
    width: 1000px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
}
marquee img{
    height: 140px;
    width: 140px;
    margin: 0px 10px;
}
.alok{
    width: 300px;
}
.minalba{ 
    width:230px;
}

/*RODAPÉ*/
footer{
    height: 300px;
    width: 100%;
    background-color:rgb(34, 32, 69);
    flex-direction: column;
    color: white;
}
.container-footer{
    padding: 0px 100px;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}
.logo-final img{
    height: 100px;
    border-radius: 20px;
}
.logo-final h2{
    font-size: 20px;
}
.logo-final strong{
    font-size: 17px;
}
.logo-final p{
    font-size: 14px;
}
.logo-pagina{
    flex-direction: column;
}
.logo-pagina a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    flex-direction: column;
}
.logo-pagina a:hover{
    color:rgb(71, 172, 96) ;
}
.logo-final-contato h2{
    font-size: 20px;
}
.contato-numero{
    gap: 5px;
    margin: 10px 0px;
}
.contato-numero img{
    height: 30px;
}
.redes-sociais{
    flex-direction: column;
}
.redes-sociais h2{
    font-size: 20px;
}
.sociais{
    gap: 20px;
    margin-top: 10px;
}
.sociais img{
    height: 40px;
}
.sociais a{
    text-decoration: none;
}
.sociais img:hover{
    border-radius: 50%;
    border: 1px solid white;
}
.desenvolvedora{
    margin-top: 40px;
    color: rgba(255, 166, 0, 0.842);
    gap: 10px;
}
.desenvolvedora img{
    height: 30px;
}


/*ANIMAÇÕES*/
@keyframes degrade {
    0%{
        background-position-x:0%;
    }
    100%{
        background-position-x:100%;
    }
}
@keyframes entrada{
    from{
        opacity: 0;
        translate: 0 100vw;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}
