@media screen and (min-width: 350px) and (max-width:479px){
    .logo{
        height: 90px;
    }
    .gases{
        height: 15px;
    }
    .frases h1{
        font-size: 23px;
    }
    .solicita-botao{
        width: 320px;
        font-size: 17px;
        margin-top: 50px;
        padding: 5px 0px;
    }

    .sobre{
        padding: 50px 0px;
        height: 100%;
        gap: 50px 0px;
    }
    .container-sobre{
        margin-top: 10px;
        flex-direction: column;
    }
    .logo-sobre h1{
        font-size: 30px;
    }
    .logo-sobre img{
        height: 150px;
        margin: 20px 0px 40px 0px;
    }
    .texto-sobre{
        width: 95%;
        font-size: 20px;
        line-height: 30px;
    }

    .diferencias{
        padding: 50px 0px;
        height:100%;
        width: 100%;
    }
    .diferencias h1{
        font-size: 28px;
    }
    .container-diferenciais{
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .diferenca{
        margin-top: 50px;
    }

    .produtos h1, .four-bar{
        font-size: 30px;
        margin-top: 30px;
        margin-left: 10px;
    }
    .four-bar{
        margin-top: 5px;
        margin-left: 10px;
        width: 320px;
    }
    .section-logo, .section-logo-pr{
        display: none;
    }
    .container-produtos{
        flex-wrap: wrap;
        gap: 50px 0px;
        margin-top: 100px;
    }
    .gases-one, .gases-two, .gases-three, .gases-four, .gases-five, .gases-six, .gases-seven, .gases-eight{
        height:350px;
        width: 320px;
    }
    .container-produtos-invisivel{
        gap: 75px;
        flex-wrap: wrap;
    }

    .servicos h1{
        font-size: 28px;
    }
    .servicos small{
        font-size: 15px;
    }
    .container-servicos{
        gap:90px;
        flex-wrap: wrap;
    }
    .tipo-servico{
        height: 250px;
        width: 300px;
    }
    .tipo-servico h2{
        bottom: 60px;
    }

    .container-perguntas{
        gap: 50px;
        flex-wrap: wrap;
    }
    .perguntas h1{
        font-size: 34px;
    }
    .pergunta-resposta{
        margin-bottom: 20px;
    }

    .fale-conosco h1{
        font-size: 35px;
    }
    .fale-conosco p{
        font-size: 20px;
    }
    .container-contato{
        margin-top: 50px;
        gap: 30px;
        flex-wrap: wrap;
    }
    .form-map{
        gap: 50px;
        flex-direction: column;
    }
    iframe{
        height: 300px;
        width: 340px;
    }
    .formulario{
        width: 350px;
    }
    .nome, .numero, .email{
        width: 300px;
    }
    textarea{
        width: 300px;
    }

    .parceiros h1{
        font-size: 32px;
    }
    .empresa{
        width: 340px;
        height: 120px;
    }
    marquee img{
        height: 140px;
        width: 140px;
        margin: 0px 5px;
    }

    .feedbacks h1{
        font-size: 32px;
    }
    .feedback-1, .feedback-2, .feedback-3, .feedback-4, .feedback-5{
        flex-direction: column;
        gap: 10px;
    }
    .feed{
        width:100%;
        height: 335px;
        padding: 10px 20px;
    }
    .foto{
        height: 70px;
    }
    .feed-title{
        font-size: 17px;
    }
    .feed-text{
        font-size: 16px;
    }
    .aspas-1{
        right: 160px;
        top: 30px;
    }
    .aspas-2{
        left: 160px;
    }

    footer{
        height: 100%;
        padding: 50px 0px;
    }
    .container-footer{
        padding: 0px 0px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px 20px;
    }
    .logo-final img{
        height: 90px;
    }
    .logo-final strong{
        font-size: 17px;
    }
    .logo-final h2{
        font-size: 17px;
    }
    .logo-final p{
        font-size: 12px;
    }
    .logo-final-contato h2{
        font-size: 17px;
    }
    .contato-numero img{
        height: 25px;
    }
    .contato-numero p{
        font-size: 14px;
    }
    .logo-pagina{
        display: none;
    }
    .desenvolvedora{
        font-size: 15px;
    }

}

@media screen and (min-width: 480px) and (max-width:689px){
    .logo{
        height: 100px;
    }
    .gases{
        height: 25px;
    }
    .frases h1{
        font-size: 20px;
    }
    .solicita-botao{
        width: 400px;
        font-size: 18px;
        margin-top: 50px;
    }

    .sobre{
        padding: 50px 0px;
        height: 100%;
        gap: 50px 0px;
    }
    .container-sobre{
        margin-top: 10px;
        flex-direction: column;
    }
    .logo-sobre h1{
        font-size: 35px;
    }
    .logo-sobre img{
        height:200px;
        margin: 20px 0px 40px 0px;
    }
    .texto-sobre{
        width: 95%;
        font-size: 20px;
        line-height: 32px;
    }

    .diferencias{
        padding: 50px 0px;
        height:100%;
    }
    .diferencias h1{
        font-size: 35px;
    }
    .container-diferenciais{
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .diferenca{
        margin-top: 50px;
    }

    .produtos h1, .four-bar{
        font-size: 35px;
        margin-top: 30px;
        margin-left: 20px;
    }
    .four-bar{
        margin-left: 10px;
    }
    .section-logo, .section-logo-pr{
        display: none;
    }
    .container-produtos{
        flex-wrap: wrap;
        gap: 50px 0px;
        margin-top: 100px;
    }
    .container-produtos-invisivel{
        gap: 75px;
        flex-wrap: wrap;
    }

    .servicos h1{
        font-size: 35px;
    }
    .servicos small{
        font-size: 20px;
    }
    .container-servicos{
        gap:90px ;
        flex-wrap: wrap;
    }
    .tipo-servico{
        height: 250px;
        width: 300px;
    }

    .container-perguntas{
        gap: 50px;
        flex-wrap: wrap;
    }
    .perguntas h1{
        font-size: 34px;
    }

    .fale-conosco h1{
        font-size: 35px;
    }
    .fale-conosco p{
        font-size: 20px;
    }
    .container-contato{
        margin-top: 50px;
        gap: 30px;
        flex-wrap: wrap;
    }
    .form-map{
        gap: 50px;
        flex-direction: column;
    }
    iframe{
        width: 450px;
    }

    .parceiros h1{
        font-size: 32px;
    }
    .empresa{
        width: 470px;
        height: 120px;
    }
    marquee img{
        height: 140px;
        width: 140px;
        margin: 0px 5px;
    }

    .feedbacks h1{
        font-size: 32px;
    }
    .feedback-1, .feedback-2, .feedback-3, .feedback-4, .feedback-5{
        flex-direction: column;
        gap: 25px;
    }
    .feed{
        width: 470px;
        height: 307px;
        padding: 10px 30px;
    }
    .foto{
        height: 75px;
    }
    .feed-title{
        font-size: 18px;
    }
    .feed-text{
        font-size: 17px;
    }

    footer{
        height: 100%;
        padding: 50px 0px;
    }
    .container-footer{
        padding: 0px 0px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px 20px;
    }
    .logo-final img{
        height: 90px;
    }
    .logo-final strong{
        font-size: 17px;
    }
    .logo-final h2{
        font-size: 17px;
    }
    .logo-final p{
        font-size: 12px;
    }
    .logo-final-contato h2{
        font-size: 17px;
    }
    .contato-numero img{
        height: 25px;
    }
    .contato-numero p{
        font-size: 14px;
    }
    .logo-pagina{
        display: none;
    }

} 

@media screen and (min-width: 690px) and (max-width:849px){
    .logo{
        height: 150px;
    }
    .gases{
        height: 34px;
    }
    .frases h1{
        font-size: 30px;
    }

    .sobre{
        padding: 50px 0px;
        height: 100%;
        gap: 50px 0px;
    }
    .container-sobre{
        margin-top: 10px;
        flex-direction: column;
    }
    .logo-sobre h1{
        font-size: 45px;
    }
    .logo-sobre img{
        height: 200px;
        margin: 20px 0px 40px 0px;
    }
    .texto-sobre{
        width: 90%;
        font-size: 25px;
    }

    .diferencias{
        padding: 50px 0px;
        height:100%;
        flex-direction: column;
    }
    .container-diferenciais{
        gap: 10px 40px;
        flex-wrap: wrap;
    }

    .container-produtos{
        flex-wrap: wrap;
        gap: 50px 0px;
        margin-top: 100px;
    }
    .section-logo, .section-logo-pr{
        display: none;
    }
    .container-produtos-invisivel{
        gap: 75px 3px;
        flex-wrap: wrap;
    }

    .container-servicos{
        gap:85px 40px;
        flex-wrap: wrap;
    }
    .tipo-servico{
        height: 250px;
        width: 300px;
    }

    .container-perguntas{
        gap: 50px;
        flex-wrap: wrap;
    }
    .perguntas h1{
        font-size: 38px;
    }

    .container-contato{
        gap: 50px;
        flex-wrap: wrap;
    }
    .form-map{
        gap: 50px;
        flex-direction: column;
    }
    iframe{
        width: 550px;
    }

    .empresa{
        width: 650px;
    }

    .feedback-1, .feedback-2, .feedback-3, .feedback-4, .feedback-5{
        flex-direction: column;
        gap: 25px;
    }

    footer{
        height: 100%;
        padding: 50px 0px;
    }
    .container-footer{
        padding: 0px 0px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px 150px;
    }
    .logo-final img{
        height: 90px;
    }
    .logo-final strong{
        font-size: 17px;
    }
    .logo-final h2{
        font-size: 17px;
    }
    .logo-final p{
        font-size: 12px;
    }
    .logo-final-contato h2{
        font-size: 17px;
    }
    .contato-numero img{
        height: 25px;
    }
    .contato-numero p{
        font-size: 14px;
    }
} 

@media screen and (min-width: 850px) and (max-width:1149px){
    .logo{
        height: 200px;
    }
    
    .sobre{
        padding: 50px 0px;
        height: 100%;
        gap: 50px 0px;
    }
    .container-sobre{
        margin-top: 50px;
    }
    .logo-sobre h1{
        font-size: 45px;
    }
    .logo-sobre img{
        height: 350px;
    }
    .texto-sobre{
        width: 450px;
        font-size: 25px;
    }

    .container-diferenciais{
        gap: 40px;
    }

    .container-produtos{
        flex-wrap: wrap;
        gap: 50px 0px;
        margin-top: 100px;
    }
    .section-logo, .section-logo-pr{
        display: none;
    }
    .container-produtos-invisivel{
        gap: 75px;
        flex-wrap: wrap;
    }

    .container-servicos{
        gap:85px 40px;
        flex-wrap: wrap;
    }

    .container-perguntas{
        gap: 50px;
        flex-wrap: wrap;
    }
    .perguntas h1{
        font-size: 38px;
    }

    .container-contato{
        gap: 50px;
    }
    .contato{
        height: 200px;
        width: 245px;
    }
    .contato p{
        font-size: 15px;
    }
    .form-map{
        gap: 30px;
    }
    iframe{
        width: 400px;
    }
    .formulario{
        width: 400px;
    }
    
    .empresa{
        width: 800px;
    }

    .feedback-1, .feedback-2, .feedback-3, .feedback-4, .feedback-5{
        gap: 15px;
    }
    .feed{
        padding: 10px 30px;
        width: 410px;
    }
    .feed-text{
        font-size: 17px;
    }
    .aspas-1{
        right: 190px;
    }
    .aspas-2{
        left: 190px;
    }
    .container-footer{
        padding: 0px 0px;
    }
} 

@media screen and (min-width:1150px) and (max-width:1200px){
    .container-sobre{
        margin-top: 50px;
    }
    .sobre{
        gap: 100px 0px;
    }
    .texto-sobre{
        width: 600px;
    }

    .container-produtos-invisivel{  
        gap: 150px 50px;
        flex-wrap: wrap;
    }

    .container-servicos{
        gap: 80px;
    }
    .container-perguntas{
        gap: 80px;
    }
} 

@media screen and (min-width:2500px) and (max-width:3100px){
    .logo{
        height: 400px;
    }
    .gases{
        height: 90px;
    }
    .frases h1{
        font-size: 65px;
    }
    .solicita-botao{
        width: 650px;
        font-size: 35px;
        padding: 30px 0px;
        margin-top: 100px;
    }

    .sobre{
        height: 100%;
        padding: 100px 0px;
    }
    .logo-sobre h1{
        font-size: 65px;
    }
    .two-bar{
        width: 300px;
    }
    .logo-sobre img{
        height: 500px;
    }
    .texto-sobre{
        font-size: 50px;
        width: 1500px;
        padding:20px;
        line-height: 65px;
    }
    .entrar-botao{
        font-size: 30px;
        padding: 35px;
    }

    .diferencias{
        padding: 100px;
        height: 100%;
        width: 100%;
    }
    .diferencias h1{
        font-size: 60px;
    }
    .three-bar{
        width: 400px;
    }
    .diferenca{
        height: 350px;
        width: 400px;
        margin-top: 150px;
        font-size: 30px;
    }
    .diferenca img{
        height: 200px;
        bottom: 90px;
    }

    .produtos h1, .four-bar{
        font-size: 60px;
    }
    .four-bar{
        height: 10px;
        width: 680px;
    }
    .gases-one, .gases-two, .gases-three, .gases-four, .gases-five, .gases-six, .gases-seven, .gases-eight{
        height: 500px;
        width: 500px;
    }
    .titulo-produtos{
        font-size: 40px;
        height: 60px;
        width: 300px;
    }
    .especificacao{
        margin-top: 10px;
        font-size: 25px;
    }
    .gases-one img, .gases-two img, .gases-three img, .gases-four img, .gases-five img, .gases-six img, .gases-seven img, .gases-eight img{
        height: 200px;
    }
    .ver-mais, .ver-menos{
        font-size: 35px;
    }

    .servicos h1{
        font-size: 60px;
    }
    .servicos small{
        font-size: 40px;
    }
    .container-servicos{
        margin-top: 200px;
        gap: 200px;
    }
    .tipo-servico{
        height: 400px;
        width: 420px;
    }
    .tipo-servico img, .tipo-servico h2, .tipo-servico p{
        height: 210px;
        bottom: 100px;
    }
    .tipo-servico h2{
        font-size: 30px;
        bottom: 60px;
    }
    .tipo-servico p{
        font-size: 25px; 
    }
    .saiba-botao{
        padding: 25px 50px;
        font-size: 30px;
    }

    .perguntas h1{
        font-size: 60px;
    }
    .pergunta-resposta{
        height: 500px;
        width: 600px;
    }
    .perguntas h3{
        font-size: 40px;
    }
    .perguntas p{
        font-size: 30px;
    }

    .fale-conosco h1{
        font-size: 60px;
    }
    .fale-conosco p{
        font-size: 40px;
    }
    .contato{
        height: 250px;
        width: 350px;
    }
    .contato img{
        height: 90px;
    }
    .contato h4{
        font-size:25px;
    }
    .contato p{
        font-size: 23px;
    }
    iframe{
        height: 500px;
        width: 700px;
    }
    .formulario{
        gap: 25px;
    }
    .formulario h5{
        font-size: 30px;
    }
    .nome, .numero, .email{
        height: 40px;
        font-size: 20px;
    }
    textarea{
        font-size: 20px;
    }
    .form-botao{
        padding: 15px 25px;
        font-size: 20px;
    }

    .parceiros h1{
        font-size: 60px;
    }
    .empresa{
        width: 1500px;
    }

    .feedbacks h1{
        font-size: 60px;
    }
    .feed{
        padding: 10px 55px;
        width: 800px;
        height: 540px;
    }
    .foto{
        height: 150px;
    }
    .aspas-1{
        right: 300px;
        top: 28px;
    }
    .aspas-2{
        left: 300px;
    }
    .feed-text{
        font-size: 30px;
    }
    .feed-title{
        font-size: 30px;
    }
    .estrela{
        font-size: 25px;
    }
    .trocas{
        margin-top: 70px;
        padding:15px 50px;
    }
    .bt1, .bt2, .bt3, .bt4, .bt5{
        height: 50px;
        width: 50px;
    }

    footer{
        height: 400px;
    }
    .logo-final img{
        height: 120px;
    }
    .logo-final strong{
        font-size: 25px;
    }
    .logo-final p{
        font-size: 18px;
    }
    .logo-final-contato h2{
        font-size: 25px;
    }
    .contato-numero{
        gap: 5px;
        margin: 10px 0px;
    }
    .contato-numero img{
        height: 40px;
    }
    .contato-numero p{
        font-size: 25px;
    }
    .logo-pagina a{
        font-size: 23px;
    }
    .redes-sociais h2{
        font-size: 25px;
    }
    .sociais{
        gap: 25px;
    }
    .sociais img{
        height: 50px;
    }
    .desenvolvedora{
        font-size: 25px;
        gap: 10px;
    }
    .desenvolvedora img{
        height: 40px;
    }
}
